<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:black">Consejos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides scrollbar="true">

    <!-- Consejos:https://www.minsalud.gov.co/salud/Paginas/Alimentaci%C3%B3n-Saludable.aspx -->

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
          <h1>
            <ion-icon name="logo-apple"></ion-icon>
            Consuma alimentos variados y nutritivos diariamente​​​.
          </h1>
        </ion-card-header>
        <h5 margin="20" align="justify" style="color:black">
          La alimentación es más saludable y nutritiva cuando se incluyen diferentes tipos de alimentos
          en cada comida. La alimentación diaria debe incluir: frutas, verduras y hortalizas de diferentes colores,
          leguminosas (frijol, lenteja, garbanzo), cereales integrales, nueces, lácteos bajos en grasa, carne magra,
          pescado y huevo.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
          <h1>
            <ion-icon name="pizza"></ion-icon>
            Seleccione y prefiera alimentos integrales.
          </h1>
        </ion-card-header>
        <h5 margin="15" align="justify" style="color:black">
          Los alimentos integrales tienen mayor valor nutricional que los alimentos refinados. Conservan su contenido
          de vitaminas (especialmente vitamina E y complejo B) y minerales. Por su alto contenido de fibra permiten
          convertir la grasa directamente en energía evitando que esta se acumule en los tejidos y las arterias
          previniendo la aparición de enfermedades cardiovasculares y ciertos tipos de cáncer. Seleccione pan, tostadas,
          cereales de desayuno, arroz, avena y quinua, integrales.​
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
          <h1>
            <ion-icon name="cafe"></ion-icon>
            Evite el consumo de bebidas azucaradas.
          </h1>
        </ion-card-header>
        <h5 margin="15" align="justify" style="color:black">
          Las bebidas azucaradas son las gaseosas, refrescos y bebidas a base de frutas a las cuales se les ha
          agregado azúcar. Estas aportan solamente calorías vacías, es decir, carecen de nutrientes.
          Las personas que las consumen habitualmente tienen mayor riesgo de padecer enfermedades como
          obesidad y diabetes. Prefiera beber agua, en lugar de refrescos y gaseosas.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
          <h1>
            <ion-icon name="water"></ion-icon>
            Tomar a diario ocho vasos de agua.
          </h1>
        </ion-card-header>
        <h5 margin="15" align="justify" style="color:black">
          Beber al menos dos litros de líquidos al día, sin azúcar, preferentemente agua. No esperar a tener
          sed para hidratarse. Y usar agua segura para cocinar y lavar alimentos
        </h5>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>