<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:black">Consejos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides scrollbar="true">

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
        <h1>
          <ion-icon name="logo-no-smoking"></ion-icon>
          No fumar 
        </h1>
        </ion-card-header>
        <h5 margin="20" align="justify" style="color:black">
        Fumar es uno de los factores de riesgo más importantes para padecer una enfermedad cardíaca.
        Las sustancias químicas del tabaco pueden dañar el corazón y los vasos sanguíneos, lo que provoca el estrechamiento de las arterias lo cual puede terminar en un paro cardíaco.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
        <h1>
          <ion-icon name="bicycle"></ion-icon>
          Haz ejercicio minimamente 30 minutos diarios. 
        </h1>
        </ion-card-header>
        <h5 margin="15" align="justify" style="color:black">
          Hacer actividad física a diario y de forma regular puede reducir el riesgo de sufrir enfermedades del corazón.
          En general, deberías hacer ejercicio moderado, como caminar a paso rápido aproximadamente 30 minutos la mayoría de los días de la semana.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
        <h1>
          <ion-icon name="fitness"></ion-icon>
          Mantiene un peso adecuado 
        </h1>
        </ion-card-header>
        <h5 margin="15" align="justify" style="color:black">
          La obesidad, especialmente si tienes exceso de peso en la parte media del cuerpo, aumenta el riesgo de padecer una enfermedad cardíaca.
          Trata de comer frijoles, productos lácteos sin grasa o con bajo contenido de grasa, carnes magras y pescado como parte de una alimentación saludable.
        </h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header style="background-color: #4093A0; color:white">
        <h1>
          <ion-icon name="bed"></ion-icon>
          Duerme lo suficiente (8 horas minimas) 
        </h1>
        </ion-card-header>
        <h5 margin="15" align="justify" style="color:black">
          La falta de sueño puede hacer más que dejarte bostezando durante el día; puede dañar tu salud.
          Las personas que no duermen lo suficiente tienen un mayor riesgo de sufrir obesidad, presión arterial alta, ataques cardíacos y diabeticos.
        </h5>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>
