<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:black">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content padding>

    <ion-list>
      <ion-item [routerLink]="['/user']">
            <ion-icon name="person"></ion-icon>
          <ion-label margin="10">
            <h3>Usuario</h3>
          </ion-label>
      </ion-item>

    </ion-list>


  </ion-content>

</ion-content>
