<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:black">Contáctenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item align="center">
        <h1>Contacto</h1>
    </ion-item>

    <ion-item>
          <ion-icon name="call"></ion-icon>
        <ion-label margin="10">
          <h3>Numeros Telefónicos</h3>
          <h2>+57 310 629 1361</h2>
        </ion-label>
    </ion-item>

    <ion-item>
          <ion-icon name="at"></ion-icon>
        <ion-label margin="10">
          <h3>Correo</h3>
          <h2>cardicsas@gmail.com</h2>
        </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
        <h1>Redes Sociales</h1>
    </ion-item>

    <ion-item>
          <ion-icon name="logo-facebook"></ion-icon>
        <ion-label margin="10">
          <h3>Facebook</h3>
          <h2>@Cardic</h2>
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-label margin="10">
          <h3>Instagram</h3>
          <h2>@CardicSAS</h2>
        </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
